.dropdown-container {
  position: absolute !important;
  width: auto !important;
  height: auto !important;
  top: -50px !important;
  left: -20px !important;
}

.datepicker {
  width: 100px;
  display: flex;
  justify-content: center;
}

.remove-image {
  width: 40px;
  height: 40px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
